{% extends 'base.html' %}
{% block content %}
<div class="container mx-1 ">
    <div class="row row-cols-3 row-cols-lg-3">
        <div class="col ">
            <div class="card" style="width: 15rem;">
                <div class="empty-image-placeholder d-flex justify-content-center align-items-center"
                     style="background-color: #f0f0f0; height: 150px; position: relative; border-bottom: 1px solid grey;">
                    <span class="text-muted" style="position: absolute;">Изображение отсутствует</span>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Название товара</h5>
                    <p class="card-text" style="font-size: 0.7rem;">Небольшой пример текста, который
                        должен описывать
                        характеристиках товара отображаемого на изображении.</p>
                    <div class="btn-group btn-group-sm" role="group"
                         aria-label="Basic outlined example">
                        <button type="button" class="btn btn-outline-dark"
                                style=" --bs-btn-font-size: 0.7rem;">Veiw
                        </button>
                        <button type="button" class="btn btn-outline-dark"
                                style=" --bs-btn-font-size: 0.7rem;">Edit
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col ">
            <div class="card" style="width: 15rem;">
                <div class="empty-image-placeholder d-flex justify-content-center align-items-center"
                     style="background-color: #f0f0f0; height: 150px; position: relative; border-bottom: 1px solid grey;">
                    <span class="text-muted" style="position: absolute;">Изображение отсутствует</span>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Название товара</h5>
                    <p class="card-text" style="font-size: 0.7rem;">Небольшой пример текста, который
                        должен описывать
                        характеристиках товара отображаемого на изображении.</p>
                    <div class="btn-group btn-group-sm" role="group"
                         aria-label="Basic outlined example">
                        <button type="button" class="btn btn-outline-dark"
                                style=" --bs-btn-font-size: 0.7rem;">Veiw
                        </button>
                        <button type="button" class="btn btn-outline-dark"
                                style=" --bs-btn-font-size: 0.7rem;">Edit
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col ">
            <div class="card" style="width: 15rem;">
                <div class="empty-image-placeholder d-flex justify-content-center align-items-center"
                     style="background-color: #f0f0f0; height: 150px; position: relative; border-bottom: 1px solid grey;">
                    <span class="text-muted" style="position: absolute;">Изображение отсутствует</span>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Название товара</h5>
                    <p class="card-text" style="font-size: 0.7rem;">Небольшой пример текста, который
                        должен описывать
                        характеристиках товара отображаемого на изображении.</p>
                    <div class="btn-group btn-group-sm" role="group"
                         aria-label="Basic outlined example">
                        <button type="button" class="btn btn-outline-dark"
                                style=" --bs-btn-font-size: 0.7rem;">Veiw
                        </button>
                        <button type="button" class="btn btn-outline-dark"
                                style=" --bs-btn-font-size: 0.7rem;">Edit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


{%endblock%}