{% extends 'base.html' %}
{% block content %}
<div class="container text-center mx-1 ">
    <div class="row row-cols-3 row-cols-lg-3 ">
        <div class="col ">
            <div class="p-3 border bg-light">Товар1</div>
        </div>
        <div class="col">
            <div class="p-3 border bg-light">Товар2</div>
        </div>
        <div class="col">
            <div class="p-3 border bg-light">Товар3</div>
        </div>
        <div class="col">
            <div class="p-5 border bg-light">
                <h1>100$</h1>
                <p>Нажимай и не пожалеешь</p>
                <button type="button" class="btn btn-primary w-100">Купить</button>
            </div>
        </div>
        <div class="col">
            <div class="p-5 border bg-light"><h1>100$</h1>
                <p>Нажимай и не пожалеешь</p>
                <button type="button" class="btn btn-primary w-100">Купить</button>
            </div>
        </div>
        <div class="col">
            <div class="p-5 border bg-light"><h1>100$</h1>
                <p>Нажимай и не пожалеешь</p>
                <button type="button" class="btn btn-primary w-100">Купить</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}