{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="row row-cols-1 row-cols-sm-3  d-flex justify-content-center">
    <div class="card shadow-sm align-items-center">
        <img width="200" src="{{ product.photo  | media_filter }}" alt="">
        <div class="card-body">
            <h4>{{object.name}}</h4>
            <p class="card-text">{{ object.description|truncatechars:100 }}</p>
            <p class="card-text">Категория: {{ object.category.name }}</p>
            <p class="card-text">Цена: {{ object.price }}</p>
            <p class="card-text">Дата создания: {{ object.created_at }}</p>
            <p class="card-text">Дата изменения: {{ object.updated_at }}</p>
            <div class="d-flex justify-content-left">
                <div class="btn-group">
                    <a type="button" class="btn btn-sm btn-outline-secondary"
                       href="{% url 'catalog:product_list' object.category.id %}"
                       role="button"><i class="bi bi-arrow-left"></i></a>
                    {% if user.is_authenticated %}
                    {% if user == product.owner or perms.user.can_unpublish_product and object.is_published %}
                    <a type="button" class="btn btn-sm btn-outline-secondary"
                       href="{% url 'catalog:product_update' object.id %}"
                       role="button">Изменить</a>
                    {% endif %}
                    {% if perms.user.can_unpublish_product or user == product.owner %}
                    <a type="button" class="btn btn-sm btn-outline-danger"
                       href="{% url 'catalog:product_delete' object.id %}"
                       role="button">Удалить</a>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}