{% extends 'catalog/base.html' %}
{% load my_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card">
                    <div class="card-body text-center">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>
                    <div class="btn-group">
                        <button type="submit" class="btn btn-mx btn-outline-success">
                            {% if object %}
                            Сохранить
                            {% else %}
                            Создать
                            {% endif %}
                        </button>
                        {% if object %}
                        <a class="btn btn-mx btn-outline-danger" href="{% url 'catalog:product_detail' object.id %}">
                            Отменить </a>
                        {% else %}
                        <a class="btn btn-mx btn-outline-danger" href= "{{request.headers | get_referer}}">
                            Отменить
<!--                            "{% url 'catalog:category_list' %}"-->
                        </a>
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}